[submodule "themes/bth-hermit"]
	path = themes/bth-hermit
	url = git@github.com:brtholomy/bth-hermit.git
[submodule "netlify/functions"]
	path = netlify/functions
	url = git@github.com:brtholomy/netlify.go
